:host {
  display: contents;
}

.list-item {
  padding: 10px;
  margin: 5px 0 5px 0;
  border: 1px solid #999;
  background-color: #fff;
}

.title {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 7px;
}

.subtitle {
  font-size: 18px;
}
